[Desktop Entry]
Encoding=UTF-8
Name=Live USB Maker
Name[am]=በ ቀጥታ-usb መፍጠሪያ (qt)
Name[ar]=Live USB Maker (qt)
Name[bg]=Live USB Maker (qt)
Name[ca]=Creador de USB autònoms (qt)
Name[cs]=Live USB Maker (qt)
Name[da]=Live USB-skaber (qt)
Name[de]=Live USB Erzeugung (qt)
Name[el]=Δημιουργός Live-usb (qt)
Name[es]=Construir Live-USB (qt)
Name[et]=Live USB Maker (qt)
Name[eu]=Live USB Maker (qt)
Name[fa]=Live USB Maker  (qt)
Name[fi]=Live USB Maker (qt)
Name[fr]=Créateur de Live-usb  (qt)
Name[he_IL]=Live USB Maker (qt)
Name[hi]=Live USB Maker (qt)
Name[hr]=Live USB Maker (qt)
Name[hu]=Live USB Maker (qt)
Name[id]=Live USB Maker (qt)
Name[is]=Live USB Maker (qt)
Name[it]=Crea Live USB (qt)
Name[ja_JP]=Live USB Maker (qt)
Name[ja]=Live USB Maker (qt)
Name[kk]=Live USB Maker (qt)
Name[ko]=라이브 USB 제작
Name[lt]=Live USB Maker (qt)
Name[mk]=Live USB Maker (qt)
Name[mr]=Live USB Maker (qt)
Name[nb]=Live USB Maker (qt)
Name[nl]=Live USB Maker (qt)
Name[pl]=Live USB Maker (qt)
Name[pt_BR]=Criador de USB executável (qt)
Name[pt]=Criar USB-executável (qt)
Name[ro]=Live USB Maker (qt)
Name[ru]=Live USB Maker (qt)
Name[sk]=Vytvoriť LiveUSB (qt)
Name[sl]=Ustvarjalec za živi-usb pogon (qt)
Name[sq]=Live USB Maker (qt)
Name[sr]=Live USB Maker (qt)
Name[sv]=Live USB Maker (qt)
Name[tr]=Live USB Maker (qt)
Name[uk]=Live USB Maker (qt)
Name[zh_CN]=Live USB Maker (qt)
Name[zh_TW]=製作現場版 USB (qt)
Comment=Create a full-featured live-usb
Comment[am]=ሙሉlገጽታ በ ቀጥታ-usb መፍጠሪያ
Comment[ar]=Create a full-featured live-usb
Comment[bg]=Създава live-usb
Comment[ca]=Crea un USB autònom complert
Comment[cs]=Create a full-featured live-usb
Comment[da]=Opret en live-usb med det hele
Comment[de]=Erzeugung eines voll ausgestatteten Live-USB-Sticks
Comment[el]=Δημιούργησε live-usb με πλήρη χαρακτηριστικά
Comment[es]=Construir Live-USB
Comment[et]=Create a full-featured live-usb
Comment[eu]=Create a full-featured live-usb
Comment[fa]=Create a full-featured live-usb
Comment[fi]=Create a full-featured live-usb
Comment[fr]=Créer un live-usb complet
Comment[he_IL]=Create a full-featured live-usb
Comment[hi]=Create a full-featured live-usb
Comment[hr]=Create a full-featured live-usb
Comment[hu]=Create a full-featured live-usb
Comment[id]=Create a full-featured live-usb
Comment[is]=Create a full-featured live-usb
Comment[it]=Crea una USB-Live con funzionalità completa
Comment[ja_JP]=Create a full-featured live-usb
Comment[ja]=Create a full-featured live-usb
Comment[kk]=Create a full-featured live-usb
Comment[ko]=쓰기 가능한 라이브 USB 제작
Comment[lt]=Create a full-featured live-usb
Comment[mk]=Create a full-featured live-usb
Comment[mr]=Create a full-featured live-usb
Comment[nb]=Create a full-featured live-usb
Comment[nl]=Maak een volledig voorziene live-usb
Comment[pl]=Utwórz w pełni funkcjonalny Live-USB
Comment[pt_BR]=Criar um sistema operacional, com todas suas funcionalidades, num dispositivo USB [mx-live-usb-maker]
Comment[pt]=Criar um sistema operativo, com todas as funcionalidades, num dispositivo USB [mx-live-usb-maker]
Comment[ro]=Create a full-featured live-usb
Comment[ru]=Create a full-featured live-usb
Comment[sk]=Tvorba LiveUSB s plno funkciami
Comment[sl]=Ustvarite popolnoma uporaben živi usb pogon
Comment[sq]=Create a full-featured live-usb
Comment[sr]=Create a full-featured live-usb
Comment[sv]=Skapa en live-usb med alla möjligheter
Comment[tr]=Tam özellikli bir live-usb oluşturun
Comment[uk]=Create a full-featured live-usb
Comment[zh_CN]=Create a full-featured live-usb
Comment[zh_TW]=創造功能完備的現場版 USB
Exec=live-usb-creator
Terminal=false
Type=Application
Icon=live-usb-maker-qt
Categories=System;
NoDisplay=false
MimeType=application/x-cd-image;
